* {
    box-sizing: border-box;
}

/* Body styling and grid layout */ 
body {
    font-family: 'Verela Round', sans-serif;;
    font-weight: 400;
    text-align: center;
    background-color: #fff;
    display: grid;
    grid-template-areas: 
      'header'
      'nav'
      'main';
    grid-template-rows: auto auto 1fr;
    margin: 0;
    height: 100vh;
}

/* header flexbox for items:
    .webapp-logo
    .bell-icon
    .student-image
    .student-name
*/
header { /* #flexbox */
    grid-area: header;
    display: flex;
    flex-direction: row;
    background-color: #7477bf;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 10px;
}

/* Webapp logo */ 
.webapp-logo {
    margin-right: auto;
    font-size: 0.6em;
}

/* Bell icon */
.bell-icon {
    padding-right: 0.6em;
}
.bell {
    width: 25px;
    height: 25px;
}

/* Student image */
.student-image {
    border-left: 0.5px solid lightgray;
    padding-left: 0.6em;
    padding-right: 0.6em;
    
}
.profile-photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* Student name */

.student-name {
    margin-right: 0.4em;
    text-wrap: nowrap;
    font-size: 0.8em;
}

/* Navigation icons */

.icon {
    width: 30px;
    height: 30px;
}

/* Change colour of SVGs */

.svg {
    fill: #fff; 
}


nav { 
    grid-area: nav;
    background-color: #4d4c72;
}

main { /* #flexbox */
    grid-area: main;
    display: flex;
    flex-direction: column;
}

/* Styling superscript text*/
sup {
    font-size: 0.5em;
}

/* ul flexbox for 4 icons
*/
ul { /* #flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding-inline-start: 0px;
}

/* Media queries */
@media (min-width: 768px){
    ul { /* #flexbox */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style-type: none;
        padding-inline-start: 0px;
    }
    li {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    body {
        grid-template-areas: 
        'header header'
        'nav main'
        ;
        grid-template-columns: 1fr 9fr;
        grid-template-rows: auto 1fr;
    }
}

@media (min-width: 1024px) {
    body {
        grid-template-columns: 1fr 13fr;
    }
}